ul {
  list-style: none;
}

li {
  margin: auto;
}

label {
  cursor: pointer;
}

select, option {
  color: black;
}

.taskListContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  width: 100%;
}

.tasksList {
  width: 80%;
}

.tasksList ul {
  display: flex;
  flex-direction: column;
}

.tasksListItem {
  border-bottom: dashed thin;
  display: flex;
  padding: 1rem;
  width: 100%;
}

.tasksListItem:hover {
  transform: scaleX(1.01);
  transition: 1s;
}

.editTaskButton {
  background-color: #3590F3;
  border-radius: .5rem;
  padding: .2rem;
  text-align: center;
  margin: auto;
}

.editTaskButton a {
  color: #EAEAEA;
}

.editTaskButton:hover, .editTaskButton a:hover {
  color: #0D0106;
  transform: scale(1.1);
  transition-duration: .5s;
}

.editTaskButton:hover {
  background-color: #EAEAEA;
}

.editTaskButton:hover > a {
  color: #0D0106;
}

.editTaskButton:active {
  transform: translateX(2rem);
  transition-duration: .5s;
}

.deleteTaskButton {
  background-color: #e71f1f;
  border-radius: .5rem;
  color: #EAEAEA;
  margin: auto;
  padding: .2rem;
  text-align: center;
}

.deleteTaskButton:hover {
  transform: scale(1.1);
  transition-duration: .5s;
}

.deleteTaskButton:active {
  transform: translateY(2em);
  transition-duration: .5s;
}

.deleteAllTasksButton {
  background-color: #e71f1f;
  border-radius: .5rem;
  color: #EAEAEA;
  padding: .4rem;
}

.deleteAllTasksButton:hover {
  background-color: #963484;
  color: #0D0106;
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: .5s;
}

@media only screen and (max-width: 700px){
  .tasksListItem {
    align-items: center;
    flex-direction: column;
  }
}
