.about > h2 > a {
  color: blue;
  text-decoration: underline;
}

.about {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 3rem 0 0;
  width: 100%;
}
