nav {
  align-items: center;
  background: #963484;
  color: #EAEAEA;
  display: flex;
  padding: 1rem;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
}

nav a {
  color: #EAEAEA;
}

nav a:hover {
  color: #0D0106;
  transition: .2s;
  transform: scale(1.2);
}

nav > a:active {
  color: #67EFE9;
}